:root {
    --textFont: "Science Gothic", sans-serif;
    --textColor: #000;
    --lightTextColor: #fff;
    --themeColor: orange;
}

* {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: var(--textFont);
    color: var(--textColor);
    position: relative;
}

#bg-image {
    width: 100%;
    position: absolute;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: transparent;
    border: 1px solid var(--lightTextColor);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px var(--lightTextColor);
    position: relative;
}

#content-image {
    width: 100%;
}

.page-title {
    color: var(--themeColor);
    text-transform: uppercase;
}


.page-text {
    color: var(--textColor);
    background-color: var(--lightTextColor);
    font-size: small;
    padding: 1rem;
    border-radius: 6px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 2rem;
    position: relative;
}

.btn {
    padding: 1rem;
    border: 0;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: #008b8b;
}

.btn:hover {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: #005757;
}

#startBtn {
    padding: 1rem;
    border: 0;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: red;
}

#startBtn:hover {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: darkred;
}