:root {
    --textFont: "Science Gothic", sans-serif;
    --textColor: #000;
    --lightTextColor: #fff;
    --themeColor: orange;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: var(--textFont);
    color: var(--textColor);
    position: relative;
}

#bg-image {
    width: 100%;
    height: 100%;
    position: absolute;
}

.exitBtnContainer {
    width: 70%;
    display: flex;
    justify-content: end;
    padding: 1rem;
    /* border: 1px solid red; */
    position: relative;
}

#exitBtn {
    padding: 12px;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: red;
    border: 1px solid var(--lightTextColor);
}


#exitBtn:hover {
    align-self: end;
    padding: 12px;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: darkred;
    border: 1px solid var(--lightTextColor);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    gap: 1rem;
    background-color: transparent;
    border: 1px solid var(--lightTextColor);
    padding: 4rem 8rem;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 2px var(--lightTextColor);
    position: relative;
}


.page-title {
    color: var(--lightTextColor);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: var(--themeColor);
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
    position: relative;
}


.page-text {
    color: var(--textColor);
    background-color: var(--lightTextColor);
    font-size: medium;
    padding: 2rem;
    border-radius: 6px;
}


.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.btn,
.btn0,
.btn1,
.btn2,
.btn3 {
    padding: 1rem;
    border: 0;
    border-radius: 18px;
    text-align: center;
    /* text-transform: uppercase; */
    color: var(--textColor);
    background-color: var(--lightTextColor);
    border: 1px solid var(--textColor);
}

.btn:hover,
.btn0:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    /* text-transform: uppercase; */
    color: var(--lightTextColor);
    background-color: var(--textColor);
    border: 1px solid var(--lightTextColor);
}

#startBtn {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: red;
    border: 1px solid var(--lightTextColor);
}


#startBtn:hover {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    color: var(--lightTextColor);
    background-color: darkred;
    border: 1px solid var(--lightTextColor);
}