:root {
    --textFont: "Science Gothic", sans-serif;
    --textColor: #000;
    --themeColor: orange;
    --backgroundColor: #0b0e11;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--textFont);
    color: var(--textColor);
}

header {
    height: 4rem;
    display: flex;
    justify-content: center;
    background-color: var(--backgroundColor);
    border-bottom: 1px solid var(--themeColor);
    color: var(--themeColor);
}

header h2 {
    text-transform: uppercase;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.container img {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.page-text {
    text-align: start;
    margin-top: 3rem;
    position: relative;
    background-color: #fff;
    font-size: small;
    padding: 1rem;
    border: 12px;
}

.btn-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 3rem;
    position: relative;
}

#rulesBtn {
    padding: 1rem;
    border: 0;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}

#rulesBtn:hover {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    background-color: var(--textColor);
}

#startBtn {
    padding: 1rem;
    border: 0;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    background-color: red;
}

#startBtn:hover {
    padding: 1rem;
    border-radius: 18px;
    text-align: center;
    color: #fff;
    background-color: darkred;
}